@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
    --brand-purple: 139 92 246;
    --brand-pink: 236 72 153;
    --brand-dark: 9 9 11;
  }
}
